@model KegelFreundeHorw.Models.VieModel.MemberViewModel
@{
    ViewData["Title"] = "Mitglieder";
}
<link rel="stylesheet" href="~/css/form.css" />
<link rel="stylesheet" href="~/css/members.css">

@section Title
{
    <div class="container">
        <h1>Mitglieder</h1>
        <h2>Alle Mitglieder des Vereins Kegel Freunde Horw</h2>
    </div>
}

<div id="members">
    @foreach (var item in Model.MemberList)
    {
        <div class="member">
            <div class="img">
                <img src="~/img/members/@item.ImageName" asp-append-version="true"/>
            </div>
            <table>
                <tr>
                    <td>Name</td>
                    <td>@item.Name</td>
                </tr>
                <tr>
                    <td>Vorname</td>
                    <td>@item.Prename</td>
                </tr>
                <tr>
                    <td>Geburtsdatum</td>
                    <td>@item.BirthDate.ToString("MM/dd/yyyy")</td>
                </tr>
                <tr>
                    <td>Über mich</td>
                    <td>@item.Description</td>
                </tr>
            </table>
            @*<a href="@Url.Action("DeleteMember","Members",new { id=item.Id})" style="float:right">Delete</a>*@
        </div>
    }
</div>
